<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>404 - Linkr</title>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/android-chrome-512x512.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/dash.css">
</head>

<body id="page-top" style="background: rgb(0,0,0);">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper" style="background: #000000;color: rgb(255,255,255);">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light" style="background: transparent;">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button><a class="no_display" href="/">
                            <div class="d-flex align-items-center" style="display: inline-flex;"><img src="assets/img/favicon-32x32.png" width="32px" height="32px">
                                <h1 style="color: rgb(0,0,0);margin-bottom: 0px;margin-left: 10px;">Linkr/</h1>
                            </div>
                        </a></div>
                </nav>
                <div class="container-fluid">
                    <div class="text-center mt-5">
                        <div class="glitch mx-auto" data-text="404">
                            <p class="m-0">404</p>
                        </div>
                        <p class="text-dark-emphasis mb-5 lead">Nothing here. Yet...</p>
                        <p class="text-black-50 mb-0" style="color: rgba(255,255,255,0.5);">It looks like you found a glitch in the matrix...</p>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer" style="background: #000000;position: absolute;">
                <div class="container my-auto" style="color: rgb(0,0,0);">
                    <div class="text-center my-auto copyright"><span style="font-size: 20px;">Copyright © Linkr 2023</span></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>